/* -----------------------------  GENERAL STYLES ------------------------ */
aside,
article,
section,
header,
footer,
nav,
form {
  display: block;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "mr-eaves-xl-modern", sans-serif;
  color: #ddd;
  background-color: rgba(41, 61, 74, 0.8);
  width: 100%;
}
header a {
  color: #ddd;
  text-decoration: none;
}
header a:visited {
  color: #ddd;
  text-decoration: none;
}
header a:hover {
  color: #f9b8ff;
}
header a:active {
  color: #f9b8ff;
  text-decoration: underline;
}
header p {
  margin: 2em auto;
  text-align: center;
  font-size: 1.5em;
  max-width: 60%;
}
h1,
h2,
h3,
h4 {
  font-family: "ff-dax-pro", sans-serif;
}
h1 {
  color: #7a0085;
  text-align: center;
  text-transform: uppercase;
}
/*____TOP NAV ___*/
ul {
  list-style: none;
  padding-left: 0;
}
nav a {
  color: #ddd;
  text-decoration: none;
}
a {
  color: #293d4a;
  text-decoration: underline;
}
a:visited {
  color: #293d4a;
}
.active {
  text-transform: uppercase;
  text-decoration: underline;
}
/*____CLASSES ACCROSS SITE ___*/
.home-banner,
.exhibits-banner,
.explore-banner,
.visit-banner,
.events-banner,
.contact-banner {
  background-position: 100%;
  background-size: cover;
  overflow: hidden;
  min-height: 500px;
}
.main-title {
  color: #7a0085;
  text-align: center;
  text-transform: uppercase;
  background-color: #ddd;
  opacity: 0.6;
  overflow: hidden;
  margin: 10% 0 15% 0;
  clear: both;
}
/*____FOOTER ___*/

.footer {
  color: #293d4a;
  background-color: rgba(221, 221, 221, 0.9);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.footer h4 {
  font-weight: bolder;
  display: inline-block;
}
.footer-time,
.footer-contact,
.footer-additional {
  flex-grow: 1;
}

.fab {
  margin-right: 1em;
}

/* ------------------------------ GENERAL HOME ----------------------------------*/
blockquote {
  font-size: 1.2em;
  max-width: 80%;
  margin: 5% auto;
  text-align: center;
  font-style: italic;
}
.home-banner {
  background-image: url(../images/home.jpg);
}
.home-banner p {
  color: #f9b8ff;
  font-size: 2em;
  font-style: bold;
  text-transform: capitalize;
  text-align: center;
}
.home-buttons {
  display: flex;
}
.home-button {
  background-color: #7a0085;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  padding: 1em 4em;
  border-radius: 5px;
  width: 70%;
  margin: 0.5em auto;
}
.involved {
  max-width: 80%;
  margin: 20px auto;
  padding-bottom: 20px;
  margin-bottom: 10%;
  color: #293d4a;
  background-color: #ddd;
}
.involved-image {
  background-image: url(../images/involved.jpg);
  background-position: 100%;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.image-title {
  background-color: #ddd;
  opacity: 0.6;
}
.involved h2 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}
.involved h3 {
  background-color: rgba(122, 0, 133, 0.3);
  padding: 0.5em 2em;
}
.involved p {
  padding: 0.5em 2em;
}
/* ------------------------------ GENERAL EXHIBITS ----------------------------------*/
.exhibits-banner {
  background-image: url(../images/exhibits2.jpg);
}
.exhibition {
  display: flex;
  padding: 0 4em;
  margin: 5% auto;
  max-width: 80%;
}
.energetica {
  background-image: url(../images/energetica.jpg);
}
.cosmology {
  background-image: url(../images/cosmos.jpg);
}
.evolution {
  background-image: url(../images/evolution.jpg);
}
.ecology {
  background-image: url(../images/ecology.jpg);
}
.ai {
  background-image: url(../images/ai.jpg);
}
.biology {
  background-image: url(../images/bio.jpg);
}
.energetica,
.cosmology,
.evolution,
.ecology,
.ai,
.biology {
  background-position: 100%;
  background-size: cover;
  overflow: hidden;
  max-width: 250px;
  height: 300px;
  width: 100%;
}
.exhibit-title {
  background-color: #ddd;
  opacity: 0.8;
}
.exhibition h2 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #293d4a;
  padding: 1em;
}
.exhibit-text {
  color: #293d4a;
  background-color: #ddd;
  padding: 1em;
}
/* ------------------------------ GENERAL EXPLORE ----------------------------------*/
.explore-banner {
  background-image: url(../images/explore1.jpg);
  min-height: 450px;
}
.explore-top-text {
  width: 80%;
  margin: 0 auto;
}
.explore,
.explore-2 {
  display: flex;
}
.kid,
.teacher,
.researcher {
  color: #293d4a;
  background-color: #ddd;
  margin: 3%;
}
.kid-image {
  background-image: url(../images/kid.jpg);
}
.teacher-image {
  background-image: url(../images/teacher.jpg);
}
.researcher-image {
  background-image: url(../images/researcher.jpg);
}
.kid-image,
.teacher-image,
.researcher-image {
  background-position: 100%;
  background-size: cover;
  overflow: hidden;
  height: 300px;
  width: 100%;
}
.explore-title {
  background-color: #ddd;
  opacity: 0.6;
}
.explore h2,
.explore-2 h2 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #293d4a;
  padding: 1em;
}
.explore-text {
  padding: 2em;
}
/* ------------------------------ GENERAL VISIT ----------------------------------*/
.visit-banner {
  background-image: url(../images/visit1.jpg);
  max-height: 300px;
}
.information,
.information-2 {
  display: flex;
}
.information h2,
.information-2 h2 {
  text-decoration: underline;
}
.info-item-1,
.info-item-2,
.info-item-3,
.info-item-4 {
  padding: 0.5em;
  margin: 0;
}
.info-item-1,
.info-item-3 {
  background-color: #7a0085;
}
.info-item-2,
.info-item-4 {
  background-color: #293d4a;
}
.info-item-2 a {
  color: #ddd;
}
.hours,
.accessibility {
  display: flex;
  align-items: baseline;
}
.hours h2,
.accessibility h2 {
  margin-right: 1em;
}
#directions {
  max-width: 50%;
  margin: 2em 0 2em 2em;
  font-size: 1.2em;
  text-decoration: underline;
}
/* ------------------------------ GENERAL EVENTS ----------------------------------*/
.events-banner {
  background-image: url(../images/events1.jpg);
  max-height: 300px;
}
.top-text {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin: 40px 0;
  color: #ddd;
}
.updates {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}
.event {
  font-size: 1em;
  color: #293d4a;
  background-color: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  height: 50vh;
}
.event h2 {
  text-transform: uppercase;
  text-decoration: underline;
}
/* ------------------------------ GENERAL CONTACT ----------------------------------*/
form {
  max-width: 80%;
  margin: 0 auto;
  color: rgb(41, 61, 74);
  font-size: 1.5em;
}
input,
textarea {
  margin-top: 0.7em;
}
textarea {
  height: 20em;
  padding: 5px;
}
.contact-banner {
  background-image: url(../images/search.jpg);
}
.details {
  border: 0px;
  display: block;
  background-color: rgba(249, 184, 255, 0.6);
  margin: 2em;
  padding: 1em;
}
.form__input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.form-button {
  background-color: #f9b8ff;
  color: #293d4a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 0.5em 3em;
  border: 1px solid #f9b8ff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(248, 246, 246, 0.2);
  display: block;
  margin: 2em auto;
  cursor: pointer;
}

/* ------------------------------ MOBILE ----------------------------------*/

@media only screen and (max-width: 710px) {
  .fas .fa-bars {
    display: block;
  }
  .fa-bars {
    float: right;
  }
  .main-nav,
  #hamburger-menu {
    display: none;
  }
  .main-nav ul {
    background-color: #293d4a;
  }
  .main-nav li {
    padding: 5px;
    font-size: 1.7em;
  }
  .hamburger-label {
    color: #ddd;
    padding: 10px;
    font-size: 2em;
    display: block;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .top-nav {
    background-color: #293d4a;
    padding: 2em;
  }
  .footer {
    flex-direction: column;
  }
  .footer-time,
  .footer-contact,
  .footer-additional {
    margin: 0.5em auto;
    border-top: 1px solid #293d4a;
  }
  .footer-adr,
  .footer-email,
  .footer-social {
    padding-bottom: 0.5em;
  }

  /* ------------------------------ MOBILE HOME ----------------------------------*/
  .home-buttons {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .home-banner p {
    display: none;
  }
  /* ------------------------------ MOBILE EXHIBITS ----------------------------------*/
  .exhibition {
    flex-direction: column;
    align-items: center;
  }
  .exhibit-text {
    flex: 1;
  }
  /* ------------------------------ MOBILE EXPLORE ----------------------------------*/
  .explore,
  .explore-2 {
    flex-direction: column;
  }
  /* ------------------------------ MOBILE VISIT ----------------------------------*/
  .information,
  .information-2 {
    flex-direction: column;
  }
  /* ------------------------------ MOBILE EVENTS ----------------------------------*/
  .updates,
  .updates-2 {
    flex-direction: column;
    align-items: center;
  }
  /* ------------------------------ MOBILE CONTACT ----------------------------------*/
}

/* ------------------------------ DESKTOP  --------------------------------- */

@media only screen and (min-width: 711px) {
  header input {
    display: none;
  }
  header ul {
    text-align: right;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    background-color: #293d4a;
    top: 0;
    width: 100%;
  }
  header li {
    font-size: 1.1em;
    color: #ddd;
    display: inline-block;
    padding: 0 1em;
    border-right: 1px solid #ddd;
  }
  header li:last-child {
    border-right: none;
    margin-right: 10px;
  }
  header a:hover {
    color: #f9b8ff;
  }
  header .fas,
  .fa-bars {
    display: none;
  }
  .footer-time,
  .footer-contact,
  .footer-additional {
    margin: 1em 0 0.5em 2em;
    border-right: 1px solid #293d4a;
  }
  .footer-adr,
  .footer-email,
  .footer-social {
    padding-bottom: 1em;
  }

  /* ------------------------------ DESKTOP HOME ----------------------------------*/
  blockquote {
    max-width: 40%;
  }
  .home-banner {
    background-image: url(../images/rocket.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
  }
  .home-banner p {
    color: #7a0085;
  }
  .home-buttons {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .home-button {
    width: 15%;
  }
  .home-button:hover {
    background-color: #293d4a;
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
  .home-button:active {
    background-color: #7a0085;
  }
  .involved {
    max-width: 50%;
  }
  /* ------------------------------ DESKTOP EXHIBITS ----------------------------------*/
  .exhibition {
    flex-direction: row;
    align-items: center;
    max-width: 60%;
  }
  .exhibit-text {
    flex: 2;
  }
  /* ------------------------------ DESKTOP EXPLORE ----------------------------------*/
  .explore-banner {
    background-image: url(../images/explore2.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .explore-top-text {
    width: 40%;
  }
  .explore,
  .explore-2 {
    flex-direction: row;
  }
  .explore-2 {
    width: 80%;
    margin: 0 auto;
  }
  /* ------------------------------ DESKTOP VISIT ----------------------------------*/
  .visit-banner {
    background-image: url(../images/visit2.jpg);
  }
  .information {
    flex-direction: row;
  }
  .information-2 {
    flex-direction: row-reverse;
  }
  .info-item-1,
  .info-item-2,
  .info-item-3,
  .info-item-4 {
    padding: 3em;
    flex: 1;
  }
  /* ------------------------------ DESKTOP EVENTS ----------------------------------*/
  .events-banner {
    background-image: url(../images/events2.jpg);
  }
  .updates,
  .updates-2 {
    flex-direction: row;
    align-items: baseline;
    align-content: space-evenly;
  }
  .event {
    flex: 1;
    padding: 0.5em;
    margin: 0 1em 2em;
    font-size: 1em;
  }
  /* ------------------------------ DESKTOP CONTACT ----------------------------------*/
  form {
    max-width: 60%;
  }
}
